<!DOCTYPE html> <!-- dice al browser la versione di html con cui visualizzare -->
<html lang="it"> <!-- serve per l'accessibilità del browser -->
<head>
<meta charset="UTF-8"> <!-- mi fa vedere bene emoji, accenti e cosi via  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive design, adatta su pc, ipad, ...  -->
<title>My Journal</title> <!-- titolo della scheda quando apro il file sul browser  -->
<link rel="stylesheet" href="../output/style.css"> <!-- ci colleghiamo al file css  -->
</head>
<body>  
    <div class="container">
        <header class="header-giornale">
            <div class="meta-info"> <!-- li mettiamo dentro questo contenitore-->
                <span class="id-gionrale">ID: {{ id_giornale }}</span>
                <span class="data-giorno">Data: {{ data_generazione }}</span>
            </div>
            
            <div class="titolo-giornale">
                <h1>My Journal</h1>
            </div>
        </header>
        <main>
            <section class="sezione-giornale">
                <h2 class="titolo-paragrafo">
                    <a href="the_world_in_brief.html" style="text-decoration: none; color: inherit;">The World in Brief</a>
                </h2>
                <p class="testo-paragrafo">
                    {{ summary_the_world_in_brief }}
                </p>
                <div class="linea-chiusura"></div>
            </section>
            <section class="sezione-giornale">
                <h2 class="titolo-paragrafo">
                    <a href="portfolio_review.html" style="text-decoration: none; color: inherit;">Portfolio Review</a>
                </h2>
                <p class="testo-paragrafo">
                    {{ summary_portfolio_review }}
                </p>
                <div class="linea-chiusura"></div>
            </section>
            </section>
            </main>
</body>