<!DOCTYPE html> <!-- dice al browser la versione di html con cui visualizzare -->
<html lang="it"> <!-- serve per l'accessibilità del browser -->
<head>
<meta charset="UTF-8"> <!-- mi fa vedere bene emoji, accenti e cosi via  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive design, adatta su pc, ipad, ...  -->
<title>My Journal</title> <!-- titolo della scheda quando apro il file sul browser  -->
<link rel="stylesheet" href="../output/style.css"> <!-- ci colleghiamo al file css  -->
</head>
<body>  
    <div class="container">
        <header class="header-giornale">
            <div class="meta-info"> <!-- li mettiamo dentro questo contenitore-->
                <span class="id-gionrale">ID: {{ id_giornale }}</span>
                <span class="data-giorno">Data: {{ data_generazione }}</span>
            </div>
            
            <div class="titolo-giornale">
                <h1>
                    <a href="index.html" style="text-decoration: none; color: inherit;"> My Journal</a>  
                </h1>
            </div>
        </header>
        <main>
            <section class="sezione-giornale">
                <h2 class="titolo-paragrafo">Portfolio Review</h2>
                <div class="linea-chiusura-piccola"></div>
                <p class="testo-paragrafo">
                    {% for item in lista_investimenti %}
                        <span class="riga-asset">
                            <span class="nome-asset">{{ item.nome }}</span> :
                            <span class="variazione">{{ item.oggi }}</span> (oggi) |
                            <span class="variazione">{{ item.assoluto }}</span> (assoluta)
                        </span>
                    {% endfor %}
                </p>
                <div class="linea-chiusura-piccola"></div>
            </section>
            <section class="sezione-giornale">
                <p class="testo-paragrafo">
                    {{ contenuto_sezione_2 }}
                </p>
                <div class="linea-chiusura-grande"></div>
            </section>
            </main>   
    

</body>
