<!DOCTYPE html> <!-- dice al browser la versione di html con cui visualizzare -->
<html lang="it"> <!-- serve per l'accessibilità del browser -->
<head>
<meta charset="UTF-8"> <!-- mi fa vedere bene emoji, accenti e cosi via  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive design, adatta su pc, ipad, ...  -->
<title>My Journal</title> <!-- titolo della scheda quando apro il file sul browser  -->
<link rel="stylesheet" href="style.css"> <!-- ci colleghiamo al file css  -->
</head>
<body>  
    <div class="container">
        <header class="header-giornale">
            <div class="meta-info"> <!-- li mettiamo dentro questo contenitore-->
                <span class="id-gionrale">ID: 000</span>
                <span class="data-giorno">12/04/2026</span>
            </div>
            
            <div class="titolo-giornale">
                <h1>My Journal</h1>
            </div>
        </header>
        <main>
            <section class="sezione-giornale">
                <h2 class="titolo-paragrafo">The World in Brief</h2>
                <p class="testo-paragrafo">
                    Qui andrà il tuo testo. Per ora usiamo un testo di prova che verrà poi 
                    sostituito dal tuo codice Python. Il testo sarà giustificato e ben leggibile 
                    all'interno dei margini che abbiamo stabilito.
                </p>
                <div class="linea-chiusura"></div>
            </section>
            <section class="sezione-giornale">
                <h2 class="titolo-paragrafo">Portfolio Review</h2>
                <p class="testo-paragrafo">
                    Qui andrà il tuo testo. Per ora usiamo un testo di prova che verrà poi 
                    sostituito dal tuo codice Python. Il testo sarà giustificato e ben leggibile 
                    all'interno dei margini che abbiamo stabilito.
                </p>
                <div class="linea-chiusura"></div>
            </section>
            </main>
</body>